body{
  background: black;
  font-family: "Gloria Hallelujah";
  box-sizing: border-box;
}
.contenedor{
  width: 90%;
  margin: auto;
  max-width: 900px;
}
.encabezado{
  height: 15vh;
  min-height: 160px;
  background: #3d0066;
  margin: 0;

}
.principal,.titulo,.redes-sociales{
  height: 15vh;
  min-height: inherit;
  background-color: inherit;
}
.principal img{
  padding: 10px;
  height: 90%;
  margin-top: 5px;
}
.titulo h1{
  margin-top: 60px;
  font-weight: bold;
  color: #ffff;
  font-size: 4rem
}
.redes-iconos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height:65px;
  min-height: 65px;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.redes-iconos img{
  height: 35px;
  padding: 0 4px;
  margin-top: 10px;
  border-radius: 5px;
}
.navigation{
  width: 100%;
  padding: 0;
  background: #1f0033;
  margin: 0;
  border-radius: 0 0 5px 5px;
}
.navigation a:hover{
  background: rgba(155, 24, 216, 0.46) !important;
  color: white;
}
.paddin-principal{
  padding-top: 15px;
}
.noticias,.busqueda{
  height: auto;
  font-family: verdana;

}
.alinear-vertical{
  height: inherit;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.noticias{
  color: #cccccc;
  background: #0f001a;
  border-radius: 5px;
  box-sizing: border-box;
}
.noticias div[class^="post"]{
  height: 200px;
  min-height: 200px;
  /* border-bottom: 2px solid #000000; */
}
.noticias div[class^="col"]{
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}
.noticias div[class^="row"]{
  margin: 0;
}
.noticias img{
  padding: 5px;
  margin: 5px;
  margin:auto;
  display: block;
}
.noticias p{
  padding: 5px;
  margin: 5px;
}
.noticias h4{
  font-weight: bold;
  margin: 15px 10px 10px 10px;
}
.noticias div[class^="row"]{
  border-bottom: 2px solid  #5c0099;
  margin: 0;
}
.noticias .row h1{
  display: inline;
  margin: 0 20px;
}
.busqueda{
  color: #cccccc;
  background: #0f001a;
  border-radius: 5px;
  box-sizing: border-box;
  border-left: 8px solid black;
}
.ancho-lista{
  max-width: inherit;
}

/* ---------------------------- */
@media (max-width:767px) {
  .contenedor{
    width: 98%;
  }
  .row{
    height: auto;
  }
  .encabezado{
    height: auto;
    min-height: 120px;
  }
  .principal{
    height: 15vh;
  }
  .titulo{
    text-align: center;
    min-height: 120px;
    height: auto;

  }
  .titulo h1{
    margin: 0;
    padding: 0;
    line-height: 60px;
  }
  .redes-sociales{
    height: auto;
    min-height: 0px;

  }
  .redes-iconos{
    position: initial;
    margin: auto;
  }
  .redes-iconos img{
    margin: 8px 0 8px 0;
  }
  .noticias,.busqueda{
    height: auto;
  }
  .noticias div[class^="row"]{
    height: auto;
  }
  .noticias div[class^="post"]{
    height: auto;
    padding-top: 20px;
  }
  .busqueda{
    margin-top: 25px;
    border: none
  }
}
