.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


body{
  background: url("../images/Fondo.jpg") fixed ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  background-color: rgba(244, 174, 11, 0.81);
}
.titulo h2,.titulo h3{
  color: #995c00;
}
.titulo h6{
  color: #b35900;
}
/* div{
  box-sizing: border-box;
  border: 1px dotted black;
} */
.logo{
  width:20%;
}
.input-busqueda{
margin: 0 !important;
}
.margin-img{
  /* margin: auto; */
  padding: 0 !important;
}
.historial{
  color: #995c00;
}
.historial ul{
  list-style: none;
}
.publicacion h3{
  color: #995c00;;
}
.publicacion span{
  color:#cc7a00;
  margin-bottom: 25px;
}
.comentario i,.comentario p{
  display: inline;
}
